:root {
    --divider-blue: hsl(240, 5%, 91%);
    --text-blue: hsl(238, 29%, 16%);
    --text-red: hsl(14, 88%, 65%);
    --text-dark-blue: hsl(240, 6%, 50%);
    --text-extra-dark-blue: hsl(237, 12%, 33%);
    --gradient-soft-violet: hsl(273, 75%, 66%);
    --gradient-soft-blue: hsl(240, 73%, 65%);
}

html {
    font-size: 100%;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    background: linear-gradient(var(--gradient-soft-violet), var(--gradient-soft-blue));
    font-family: 'Kumbh Sans', sans-serif;

    height: 100vh;

    margin: 0;
    padding: 0;
}

.card {
    background-color: #fff;
    border-radius: 2rem;
    
    margin: 6rem 1.5rem;
    padding: 2rem;

    max-width: 45rem;
}

.card__box {
    display: none;
}

.card__img img {
    height: 10rem;
    width: auto;
}

.card__img__desktop {
    display: none;
}

.card__img__mobile {
    display: block;
    
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.card__text {
    text-align: justify;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media (min-width: 48rem) {
    .card {
        display: flex;
        align-items: center;
        justify-content: center;

        margin: 5rem auto;
        padding: 2rem 2rem 2rem 0;

        position: relative;
    }

    .card__box {
        display: block;

        height: 8.75rem;
        width: 8.75rem;
        position: absolute;
        top: 10.25rem;
        left: -4.25rem;
        z-index: 1;
    }

    .card__img {
        position: relative;
        overflow: hidden;
    }

    .card__img img {
        height: auto;
        width: 100%;
        max-width: 27rem;

        transform: translateX(-3.5rem);
    }

    .card__img__desktop {
        display: block;
    }

    .card__img__mobile {
        display: none;
    }

    .card__img, .card__text {
        flex: 1;
    }
    
}